.logo {
  width: 190px;
}
.nav-container {
  flex-wrap: wrap;
  align-items: center;
}
.nav-box {
  width: 100px;
  height: 100px;
  margin: 0.5rem 0.5rem;
  align-self: center;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.4rem;
}
.nav-box:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.topnav {
  border-top: 2px solid #164dc7;
  margin: 15px 15px;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.top-icon {
  color: #878787;
}
